<div>
  <p class="h1">Welcome to HackIdea</p>
  <p>
    This is platform to submit hackathon ideas and upvote them so that they can
    be selected as be the items for upcoming Hackathons.
  </p>
  <p>
    To proceed to the platform please click the login button. Or if you aren't
    registered yet then please click on the signup button.
  </p>

  <button class="btn btn-primary" type="button" (click)="redirect()">
    Login
  </button>
  <button class="btn btn-primary ms-5" type="button" (click)="signup()">
    Signup
  </button>
</div>
