<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="toolbar" role="banner">
    <a href="javascript:void(0)" class="ms-3" (click)="takeHome()">Hack Idea</a>
    <div class="spacer"></div>
    <div
      href="javascript:void(0)"
      *ngIf="!isLoggedIn"
      class="ms-5 me-5"
      (click)="signup()"
    >
      Signup
    </div>
    <a
      href="javascript:void(0)"
      *ngIf="!isLoggedIn"
      class="me-5"
      (click)="redirect()"
      >Login</a
    >
    <a
      href="javascript:void(0)"
      *ngIf="isLoggedIn"
      class="me-5"
      (click)="logout()"
      >Logout</a
    >
  </div>
</div>
<router-outlet></router-outlet>
